################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackendPw/FileContentIndex/297c0382-7e2c-4a81-978f-516a370ba1ca.vsidx
/.vs/BackendPw/FileContentIndex/1971f837-c011-4ff1-9b96-5b41a3135313.vsidx
/.vs/BackendPw/FileContentIndex/393936f9-a032-416e-8775-b4f02e01057e.vsidx
/.vs/BackendPw/FileContentIndex/9fc5f5a9-ce22-455e-a6a6-9e67c169fac7.vsidx
/.vs/BackendPw/FileContentIndex/be317c81-52b7-48bb-9f8c-f2386d5e893d.vsidx
/.vs/BackendPw/FileContentIndex/de080bea-c861-47d4-8fa8-29fc31223288.vsidx
/.vs/BackendPw/FileContentIndex/4b49d960-342d-4793-8e6a-6928d9c97cda.vsidx
/.vs/BackendPw/FileContentIndex/59ed5834-4f77-4ecd-9c7d-71113f01e0f5.vsidx
